<div class="row">	
	<table >
	<thead>
          <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th class="right">Precio</th>
              <th class="center">Opciones</th>
              <th>Ver</th>
          </tr>
    </thead>
    <tbody>
		<tr *ngFor="let plato of platos">
			<td>
				<img class="activator" width='100' src="assets/{{plato.foto}}">
			</td>
			<td>
				<span>{{plato.nombre}}</span>				
			</td>
			<td>
				<span class="right">{{plato.precio}}</span>
			</td>
			<td class="center">
				<span><a [routerLink]="['/edit-plato', plato.id]" href=""><i class="material-icons">settings</i></a></span>
			</td>
			<td>
				<i class="material-icons">visibility</i>
			</td>			
		</tr>
		</tbody>
	</table>
</div>