<div class="container">
<div class="row">
	<div *ngFor="let plato of platos" class="col s12 m3 l4">
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="assets/images/{{plato.imagen}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{plato.titulo}}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">{{plato.precio}}</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{plato.titulo}}<i class="material-icons right">close</i></span>
      <p>{{plato.descripcion}}</p>
    </div>
  </div>
</div>
	</div>
</div>
